.wrapper{
    height: fit-content;
    display:flex;
}

.holder{
    height:fit-content;
    width: 50%;
}

input[type="text"]{
    font-size: 16px;
    width:200px;
    border: 2px solid #aaa;
    border-radius:2px;
    padding:0px;
    margin:3px 0;
    box-sizing: border-box;
}

input[type="text"]:focus{
    border-color:dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

input[type="submit"]{
    text-align: center;
    height : 40px;
    width:80px;
    margin:3px 0;
}


label {
    display: block;
    font-size:16px;
    font: arial;
}

.box{
    margin-left: 100px;
    width: fit-content;
    height: fit-content;
}

.chara{
    padding: 10px 10px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: coral;
}

.chara img{
    width:100px;
    height:50px;
}

.chara img:hover{
    opacity:0.5!important;
}

#output img{
    width:32px;
    height:32px;
}

.assist{
    width:120px;
    height:70px;
    background-color: coral;
    text-align: center;
    vertical-align: auto;
}

.assist img{
    margin-top: 10px;
    width:100px;
    height:50px;
}