<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <meta name = "viewport" content ="width=device-width", initial-scale="1.0">
        <title>DBFZ-Combo-Lib</title>
        
        <link rel="stylesheet", type="text/css", href="/style/common.css" />

    </head>

    <body>
        <div class="master">
            <a href="/views/index.html">
                <!-- <div class = "header"> -->
                <img class ="resizer" src="/images/header.png" alt="NOT FOUND">
                <!-- </div> -->
            </a>

            <nav>
                <ul>
                    <li><a href = "/views/index.html">Home</a></li>
                    <li><a href = "/views/about.html">About</a></li>
                    <li><a href = "/views/guide.html">Guide</a></li>
                    <li><a href = "/views/comboPost.html">Combos</a></li>
                    <li><a href = "https://twitter.com/bandainamcous">Twitter</a></li>
                </ul>
            </nav>

            <div class="container">
                <h1>WELCOME TO COMBO LIBRARY!</h1>
                about.
            </div>
        </div>
    
</html>