<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <meta name = "viewport" content ="width=device-width", initial-scale="1.0">
        <title>Combo-Scribe</title>
        <link rel="stylesheet", type="text/css", href="/style/common.css" />
        <link rel="stylesheet", type="text/css", href="/style/comment.css" />
        <link rel="stylesheet", type="text/css", href="/style/comboWriter.css" />
        <script src="/script/postHeader.js"></script>
    </head>

    <body>
        <div class="master">
            <a href="/views/index.html">
                <img class ="resizer" src="/images/header.png" alt="NOT FOUND">
            </a>
            <nav>
                <ul>
                    <li><a href = "/views/index.html">Home</a></li>
                    <li><a href = "/views/about.html">About</a></li>
                    <li><a href = "/views/guide.html">Guide</a></li>
                    <li>
                        <a href = "/views/comboPost.html">Combos</a>
                    </li>
                    <li><a href = "https://twitter.com/bandainamcous" target="_blank">Twitter</a></li>
                </ul>
            </nav>

            <div class="container">
                
                <h1 style="text-align: center;">Find or Write Combos</h1>
                
                <div class="chara" id="chara">
                </div>

                <div class="wrapper">
                    <div class="holder">
                        <div class="box">
                            <label for="keyInput">Enter Your Input:</label>
                            <input type="text" id="keyInput" name="input"> <br>
                            <button type="submit" id="input-add">Add Move</button>
                            <button type="submit" id="delete">Backspace</button>
                        </div>

                        <div class="box">
                            <label style="margin-top: 20px" for="moves">Move Shortcut:</label>
                            <select id="moves">
                                <option value="0">Select Move</option>
                            </select>
                        </div>

                        <div class="box">
                            <label style="margin-top: 20px" for="Assist1">Select First Assist:</label>
                            <select id="Assist1">
                                <option value="0">Select Assist</option>
                            </select>
                        </div>

                        <div class="box">
                            <label style="margin-top: 20px" for="Assist2">Select Second Assist:</label>
                            <select id="Assist2">
                                <option value="0">Select Assist</option>
                            </select>
                        </div>    
    
    
                    </div>

                    <div class="holder">
                        <div class="box">
                            <label for="output">Your Combo:</label>
                            <div id="output" style="margin:6px 0;font-size: 16px;">
                                ENTER YOUR COMBO 
                            </div>
                        </div>    
                        
                    </div>

                    <div class="holder">
                        <div class="box" style="margin-left: 80px;">
                            <label for="sub1">Assist 1:</label>
                            <div class="assist" id="sub1" style="margin:6px 0;font-size: 16px;">
                            </div>
                            <label for="sub2" style="margin-top:50px">Assist 2:</label>
                            <div class="assist" id="sub2" style="margin:6px 0;font-size: 16px;">
                            </div>
                        </div>    
                        
                    </div>

                </div>

                <div class="wrapper" style="padding: 20px 0;">
                    <div class="holder" style="margin-left:100px;">
                        <label for="comment">
                            Comment/Explanations
                        </label>
                        <textarea id="comment"></textarea>
                        <button id="send" type="submit">Submit</button>
                    </div> 
                </div>
            <script src="/script/comboInOut.js"></script>
            <script src="/script/SetCharaInfo.js"></script>
            <script src="/script/assist.js"></script>    
            <script src="/script/submitRequest.js"></script>   
        </div>
</html>